@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}



header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  margin: 0;
  z-index: 15005101;
  background-color: rgb(34, 33, 32);
  top: 0;
  left: 0;
}


.NavBar_logo {
  margin-right: auto;
}

.logo {
  height: 5rem;
  margin: 5px;
}

.NavBar_lien {
  list-style: none;
}

.NavBar_lien li {
  display: inline-block;
  padding: 0 1.70rem;
}

.NavBar_lien li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  transition: all 0.5s ease 0s;
  color: white;
  background:
    linear-gradient(
      to right,
      rgba(34, 33, 32, 1),
      rgba(34, 33, 32, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1)
  );
  background-size: 100% 3px, 0 2px;
  background-position: 100% 100%, 100% 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.NavBar_lien li a:hover {
    
    background-size: 0 3px, 100% 2px;
}

















body{
    margin: 0;
    font-family: sans-serif;
    background-size:cover;
    background-image: url("../../images/gta/gta5_roue.jpg");
    color: white;
    padding: 2em;
    background-color:rgb(34, 33, 32) ;
  font-family: "Montserrat", sans-serif;
}

body::before{
    content: '';
    background: rgba(rgb(224, 220, 220), rgb(56, 90, 56), rgb(25, 25, 185), alpha);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
}

*{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0.3em;
    font-size: 3em;
}

h2{
    margin-bottom: 0.5em;
}

.titre{
    text-align: center;
    margin-top: 80px;
}

.titre p{
    color: #0d71fc;
    font-size: 1.3em;
    letter-spacing: 2px;
}

.timeline{
    margin: 5em auto;
    max-width: 34.15em;
}

.bloc{
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
    
}

.bloc div{
    border: 2px solid white;
    border-radius: 1em;
    padding: 1.5em;
    background-color: black;
}

.bloc p{
    line-height: 27px;
    color: #d3d2d2;
}

.bloc:nth-child(odd){
    border-left: 3px solid white;
    padding-left: 3em;
    transform: translateX(17em);
}

.bloc:nth-child(even){
    border-right: 3px solid white;
    padding-right: 3em;
    transform: translateX(-17em);
}

.bloc:nth-child(odd)::before,
.bloc:nth-child(even)::before{
    content: '';
    background: white;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.bloc:nth-child(odd)::before{
    left: 0;
}

.bloc:nth-child(even)::before{
    right: 0;
}

.bloc:nth-child(odd)div::before,
.bloc:nth-child(even)div::before{
    content: '';
    background: white;
    box-shadow: 0 0 0.5em #0d71fc;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.bloc:nth-child(odd)div::before{
    left: -0.5em;
}
.bloc:nth-child(even)div::before{
    right: -0.5em;
}





.footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    