
.scrollbarsBloc{
    border: 10px solid black;
    text-align: center;
    width: 500px;
    margin: 38% 38%;
    height: 500px;
    overflow-y: scroll;
    

}

body::-webkit-scrollbar {
    width: 12px; 
    background-color: rgb(207, 174, 64); 
  }
  
 
  body::-webkit-scrollbar-thumb {
    background-color: black;
    width: 5px;
    border-radius: 15px; 
  }
