@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body{
  background-color:rgb(34, 33, 32) ;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: rgb(34, 33, 32);
}


.NavBar_logo {
  margin-right: auto;
}

.logo {
  height: 5rem;
  margin: 5px;
}

.NavBar_lien {
  list-style: none;
}

.NavBar_lien li {
  display: inline-block;
  padding: 0 1.70rem;
}

.NavBar_lien li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  transition: all 0.5s ease 0s;
  color: white;
  background:
    linear-gradient(
      to right,
      rgba(34, 33, 32, 1),
      rgba(34, 33, 32, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1)
  );
  background-size: 100% 3px, 0 2px;
  background-position: 100% 100%, 100% 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.NavBar_lien li a:hover {
    
    background-size: 0 3px, 100% 2px;
}


/*navbar cpté*/
.NavBar_coté {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100vh;
    background-color: #333;
    padding: 10px;
    margin-top: 93.5px;

  }
  
  .NavBar_coté ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .NavBar_coté li {
    margin-bottom: 10px;
  }
  
  .NavBar_coté li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .NavBar_coté li a:hover {
    background-color: #111;
  }


  body::-webkit-scrollbar {
    width: 12px; 
    background-color: rgb(207, 174, 64); 
  }
  
 
  body::-webkit-scrollbar-thumb {
    background-color: black;
    width: 5px;
    border-radius: 15px; 
  }


#section0{
    height: 80px;
}

 
  
#section1, #section2, #section3, #section4, #section5, #section6, #section7 {
    height: 100vh;
    margin-left: 150px;
    font-size: 50px;
    
    color: white;
    background-color: #111;
    align-content: center;
    font-family: "Montserrat", sans-serif;
  }

h1{
    text-align: center;

}

p{
    margin: 90px;
    line-height: 65px;

    text-align:left;
    font-size: 40px;
}

.description{
    display: flex;
    width: 94;
}


.gtasanandreas_img{
    
    width: 350px;
    height: 10%;
}

.reddead_img{
    width: 350px;
    height: 10%;
}
.maxpayne_img{
    width: 350px;
    height: 10%;
}

.gta5_img{
    width: 350px;
    height: 10%;
}

.reddead2_img{
    width: 350px;
    height: 10%;
}



.footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }